.summary {
    margin:auto;
    width: 100%;
}

.summary__heading {
    color: #051923;
}


@media screen and (min-width:769px){
    .summary {
        width:75%;
    }
    
}

@media screen and (min-width:1025px){
    .summary {
        width:60%;
    }
    
}

