.heading {
margin:auto;
width: 100%;
}

.heading__heading {
    color: #051923;
}

@media screen and (min-width:769px){
    .heading {
        width:75%;
    }
    
}

@media screen and (min-width:1025px){
    .heading {
        width:60%;
    }
    
}